
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<div id="nav">
	<div class="nav nav-tabs  lowerNav" id="nav-tab" role="tablist">
    	<a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="true">Profile</a>
    	<a class="nav-item nav-link" id="nav-quotes-tab" data-toggle="tab" href="#nav-quotes" role="tab" aria-controls="nav-quotes" aria-selected="false">Quotes</a>
	</div>
</div>
<div class="tab-content d-flex justify-content-center lowerNac_container" id="nav-tabContent">
	<%# TAB ONE ####################################%>
	<div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

			<h1>Welcome <%= current_user.firstName %> </h1>
		<div class="profile_container">
			<img id="userAvatar" src="/assets/user.png" alt="" style="max-width: 10vh; max-height: 10vh;">
			<p class="userInfos" ><i class="fa fa-user" aria-hidden="true"></i><%= " " + current_user.firstName + " " +  current_user.lastName %></p> <br>
			<p class="userInfos"><i class="fa fa-envelope" aria-hidden="true"></i><%= " " + current_user.email %></p> <br>
			<p class="userInfos"><i class="fa fa-phone" aria-hidden="true"></i><%= " " + current_user.phoneNumber %></p> <br>
			<p class="userInfos"><i class="fa fa-address-card" aria-hidden="true"></i><%= " " + current_user.job_title  %></p> <br>

		</div>

	

  	<div class="text-primary" id="nav-quotes" role="tabpanel" aria-labelledby="nav-quotes-tab"  >
		<% @all_Quotes.each do |une_quote| %>
  		<% if current_user.email == une_quote.email %>
		<table class="table table-sm table-bordered table-condensed">
		  <thead class="thead-dark">
		    <tr>
				<th scope="col">id</th>
				<th scope="col"> First Name</th>
				<th scope="col">Phone Number </th>
				<th scope="col">Compangny name</th>
				<th scope="col">email</th>
				<th scope="col"> buildingType</th>
				<th scope="col">nb Appartment </th>
				<th scope="col">nb Business</th>
				<th scope="col">nb Floor</th>
				<th scope="col"> nb Basement</th>
				<th scope="col">nbCage </th>
				<th scope="col">nb Parking</th>
				<th scope="col">nb OccupantFloor</th>
				<th scope="col"> nb OperatingHours</th>
				<th scope="col">nb ElevatorNeeded </th>
				<th scope="col">instllation Cost</th>
				<th scope="col">total Cost </th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
				<th scope="row"> <%=une_quote.id %></th>
				<td><%=une_quote.firstName %></td>
				<td><%=une_quote.phoneNumber %></td>
				<td><%=une_quote.companyName %></td>
				<td><%=une_quote.email %></td>
				<td><%=une_quote.buildingType %></td>
				<td><%=une_quote.nbAppartment %></td>
				<td><%=une_quote.nbBusiness %></td>
				<td><%=une_quote.nbFloor %></td>
				<td><%=une_quote.nbBasement %></td>
				<td><%=une_quote.nbCage %></td>
				<td><%=une_quote.nbParking %></td>
				<td><%=une_quote.nbOccupantFloor %></td>
				<td><%=une_quote.nbOperatingHours %></td>
				<td><%=une_quote.nbElevatorNeeded %></td>
				<td><%=une_quote.instllationCost %></td>
				<td><%=une_quote.totalCost %></td>
		    </tr>
		  </tbody>
		</table>
		<%end%>      
		<%end%>
  	</div>


<div class="text-primary" id="nav-quotes" role="tabpanel" aria-labelledby="nav-quotes-tab"  >
			<% @all_customer.each do |customer| %>
  	
  		<% if current_user.email == customer.email %>
			

							<p class="userInfos"><i class="fa fa-phone" aria-hidden="true"></i><%= " " + current_user.email %></p> <br>
</div>
		<%end%>
					<%end%>
<div class="container">
    <div class="row" style="height: 40vh">
  

    			<div class="col-md-12 mx-auto text-center text-blue offset-md-3">
            	<%= form_with model: @customer do|form| %>
	
      
                <label class="col-md-12 mx-auto text-center text-blue offset-md-3 "name=intervention[author_id]"> Customer </label>

                <%= form.select(:customer, Customer.all.collect {|c| [c.contact_full_name, c.id]}, {prompt: "Select"}, {class: 'form-control required'}) %>

                <div class="affiche_building">
                <div class="col-md-12 mx-auto text-center text-blue offset-md-3"> Selet Building</label>
                </div>
                </div>
     

                <label class="col-md-12 mx-auto text-center text-blue offset-md-3" name="intervention[building_id]"> </label>
                <%= form.select(:building, Building.all.collect {|b| [b.id, b.customer_id]},  {prompt: "Select Building"}, {class: 'form-control'}) %>


      <% end %>		<%end%>
		


		
			<div id="main">
		    	<a href="/index" class="text-primary">Return to the  main page</a>
			</div>

	</div>
	</div>

<!--*******************************************************************************************************************************************************************************************************************************************
	*******************************************************************************************************************************************************************************************************************************************-->
<script>

    $("#building").prop("disabled", true); 
    
    $("#customer").change(function(){
        var customer = $(this).val();
        if(customer == ''){
            $("#building").prop("disabled", true);
        }else{
            $("#building").show()
            $("#building").prop("disabled", false);
        }
      $(".affiche_building").show();
        $.ajax({
            url: "/interventions/building",
            method: "GET",  
            dataType: "json",
            data: {customer: customer},
            error: function (xhr, status, error) {
                console.error('AJAX Error: ' + status + error);
            },
            success: function (response) {
                console.log(response);
                var building = response["building"];
                $("#building").empty();

                $("#building").append('<option> Select Building </option>');
                for(var i = 0; i < building.length; i++){
                    $("#building").append('<option value="' + building[i]["id"] + '">' + building[i]["id"] + ". " + building[i]["building_administrator_full_name"] + '</option>');
                }
            }
        });
    });


</script>